@charset "UTF-8";

.Entrance {
    margin: 0;
    padding: 0;
    position: relative;
    top: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.EntranceLink {
    font-size: 150%;
    margin: 80px;
    
}