@charset "UTF-8";

.ItemList {
    margin: 0;
    padding: 0;
    position: relative;
    top: 100px;
    left: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemList h2 {
    font-size: 250%;
    position: relative;
    
}

.Categories {
    display: flex;
    position: relative;
    
}

.Categories div {
    height: 100px;
    width: 200px;
    padding: 40px;
    margin: 40px;
    background-color: rgb(223, 235, 241);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.Order {
    display: flex;
    position: relative;
  
}

.Items {
    display: flex;
    flex-direction: column;
}

.Item {
    height: 220px;
    width: 600px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #000;
}

.ImagePosition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ItemListData {
    /* margin: 0 0 0 auto; */
    position: relative;
   /* right: 100px; */
   width: 120%;
    /* bottom: 100px; */
}

.SelectedCategory {
    font-weight: bold;
    text-decoration:underline; 
}

.SelectedOrder {
    text-decoration:underline; 
}

.OrderBorder {
    text-decoration:underline; 
}

.ItemListImage {
    margin: 0px;
    padding: 0px;
    height: 35%;
    width: 35%;
}

.HeartNum {
    position: relative;
    left: 20px;
    top: 2px;
}

/* .hover\:text-dark:hover {
    --tw-text-opacity: 1;
    color: rgb(12 25 59 / var(--tw-text-opacity));
}

.text-stone-500 {
    --tw-text-opacity: 1;
    color: rgb(120 113 108 / var(--tw-text-opacity));
    } */
