@charset "UTF-8";

.Profile {
  margin: 0;
  padding: 0;
  /* display: block;  */
  width: 40%;
  position: relative;
  left: 400px;
  top: 130px;
  /* background-color: aqua; */
}

.Profile h1 {
  font-size: 250%;
  position: relative;
  left: 150px;
}

.ProfileList {
  position:relative;
  left: 250px;
  top: 80px;
  display: flex;
  flex-direction: column;
  font-size: 150%;
}
